#wrapper{
    width:100%;
    padding:1px;
    top: 130px;
}
#welcome{
  top: 231px;
}
#picvide{
    clear:both;
    width:100%;
}
#tvshow {
    width: 100%;
    height: 154;
}
#youtub {
    height:290px;
}
.topte {
    background-color: red;
}
.sidenav .user-view .circle {
    min-height: 40px;
    min-width: 80px;
}
#modal1{
    height:10%;
    top: 9%;
    position: absolute;
    width:100%;background-color:#67818782;z-index:1
  }
  #modal2{
    height:10%;
    top: 10%;
    position: absolute;
    width:100%;background-color:#67818782;z-index:1
  }
#modal3{
    position: absolute;
    top:0;
    height:10%;
    width:100%;background-color:#67818782;z-index:1
  }
  #modal4{
    position: absolute;
    top:0;
    height:10%;
    width:100%;background-color:#67818782;z-index:1
  }
#titlelogin{
    height: 15%;
    height: 8%;
}
#why{
    max-width: 100%;
}

.maing{
    width: 444.6666666667%;
}

.sizeof{
   min-width: 40%;
}

img{
     min-width: 10%;
}
a{
    font-size: calc(calc(2vw + 1vh) + 0px);
}
.constitution{
  /*font-size:calc(calc(0.9vw + 1vh) + 0px);*/
  background-color:#fcfbfb;
  margin-bottom: 15px;
  font-weight: 400;
  color:black;
  padding-left:1px;
  padding-right:1px;
  font-family: CNN,Helvetica Neue,Helvetica,Arial,Utkal,sans-serif;
  font-size: 1.5rem;
  line-height: 1.66667;
  
}
#header{
    width:calc(calc(100vw + 1vh) + 0px);
    left:0%;
}
#videoOne{
   clear:both;
   padding-left: 4px;
   float:left;
   width: 100%;
   height: 5%;
   padding-bottom: 12px;
   background: white
}
#header{
  color:white;
  padding:0px;

  margin:0px;
  position: relative;
  top: 0px;
  
  background-repeat:no-repeat;
  background-size:cover;
  background-position:center;
}
#notif{
    top: 0px;
}
.vTwo{
   padding-bottom: 12px;
   clear:both;
   padding-left: 4px;
   float: left;
   width: 100%;
   height: 5%;
  
}
#mag{
  height:400px;  
}

.VOne{
   padding-bottom: 12px;
   padding-left: 4px;
   float: left;
   width: 100%;
   height: 5%;
   background:#fcfbfb;
}
._input{
    border-bottom: 1px solid;
  }
h2{
    font-size: 23px;
    text-align:left;
    font-size: 24px;
}
#ut{
    font-size:4vw;
  }
p{
  
    text-align: left;
    padding: 10px;
    margin-bottom: 15px;
    font-family: CNN,Helvetica Neue,Helvetica,Arial,Utkal,sans-serif;font-weight: 300;
    -webkit-font-smoothing: antialiased;
    background-color: white;
    font-size:3.0vw;line-height: 1.66667;
   
 }
#tone{
    height:2%;
}
#tone1{
    visibility: hidden;
}
.topnav{
  top:0px;
  position: relative;
  height:0px;
  background-color:#eeeeee;
  visibility:hidde;
  margin:auto
}
#titleText{
  font-size:40px;
  font-weight:700;
}
#titlelogin{
   position: relative;
   z-index: 10000;
   width:100%; height:10%;
   background-color:#313146;
}

#g{
    background-color:red;
}
#liste{
    width:100%;
    background-color:brown;
}
#VOnediv{
  width:100%;height:15%;background-color:#ffffff;    padding-top: 1px
}
#VTwodiv{
  width:100%;height:15%;background-color:#ffffff;    padding-top: 1px
}
#listp{
    width:100%;
    clear:both;
    height:100%;
    display:none;
    background-color:white;
}
#tone{
    visibility: hidden;
}
#siderbanner_right{
    visibility: hidden;
}
#siderbanner_left{
    visibility: hidden;
}
#encampus{
    width:100%;
}
#listshow{
   display: block;
   height:24%;
   background-color:white;
}