html, body{
    width:100%;
    height:100%;
    padding:0px;
    margin:0px;
    background-color:#F0F3F4;
  
  }
  #comei1 ul{
    width:100%;
    margin-left: auto;
    margin-right:auto;
    margin:0px;
    padding:0px;
    border-radius:0px;
   
  }
  #comei1 ul  li{
    padding:0px;
    display:inline;
    background-color:blue;
    margin:14px;

    width:750px;
    height:490px ;
    
  }
  #infoe{
    visibility:visible;
  
  }
  
  #infoe{
    -webkit-box-shadow:0 0 20px rgba(0,0,0,0.8);
    -moz-box-shadow:0 0 19px rgba(0,0,0,0.8);
    box-shadow:0 0 0px rgba(0,0,0,0.8);
  }
  #colors{
    background-color:yellow;
    height:50%;
    -webkit-box-shadow:0 0 20px rgba(0,0,0,0.8);
    -moz-box-shadow:0 0 19px rgba(0,0,0,0.8);
    box-shadow:0 0 0px rgba(0,0,0,0.3);
  }
  #colors ul{
    text-align: center;
    height:40%;
    width:60%;
    margin:auto;
    background-color:;
    border-radius:50px;
  
  }
  #colors ul  li{
    display: inline-block;
    margin:16px;
  }
  #congress{
    visibility:visible;
    -webkit-box-shadow:0 0 20px rgba(0,0,0,0.8);
    -moz-box-shadow:0 0 19px rgba(0,0,0,0.8);
    box-shadow:0 0 0px rgba(0,0,0,0.8);
  
  }
  
  #pa{
    padding:0px;
    margin:0px;
    background-color:;
    visibility:visible;
    -webkit-box-shadow:0 0 20px rgba(0,0,0,0.8);
    -moz-box-shadow:0 0 19px rgba(0,0,0,0.8);
    box-shadow:0 0 0px rgba(0,0,0,0.8);
  
  }
  #big ul{
    text-align: center;
    height:45%;
    top:1%;
    position:relative;
    width:auto;
    margin:auto;
    background-color:;
    /* //border-radius:50px; */
  
  }
  #bigs ul{
    text-align: center;
    height:100%;
    top:1%;
    position:relative;
    width:auto;
    margin:auto;
    background-color:white;
    /* //border-radius:50px; */
  
  }
  #bigs  ul  li  {
     display:inline-flex;
     margin:16px;
  }
  #bigs  ul  li h2 {
  
    top:2px;
  }
   #big  ul  li  {
     display:inline-flex;
     margin:16px;
  }
  #big  ul  li h2 {
  
    top:2px;
  }
  p{
     font-size:calc(calc(0.5vw + 1vh) + 0px);
     font-family: Times, Times New Roman, Georgia, serif;
  }
  
  h1{
     font-size:calc(calc(0.5vw + 1vh) + 0px);
     font-family: Times, Times New Roman, Georgia, serif;
     color: ;
  }
  
  h2{
     font-size:calc(calc(0.5vw + 1vh) + 0px);
     font-family: Times, Times
  
      Roman, Georgia, serif;
  }
  #header  ul  li{
     font-size:calc(calc(0.5vw + 1vh) + 0px);
     font-family: Times, Times New Roman, Georgia, serif;
  }
  #w{
    border-radius: 2px red ;
    -webkit-box-shadow:0 0 20px rgba(0,0,0,0.8);
    -moz-box-shadow:0 0 19px rgba(0,0,0,0.8);
    box-shadow:0 0 0px rgba(0,0,0,0.8);
  
  }
  ruled {
      height: 10%;
      color:green;
      background-color:blue;
      font-size: 0;
      border: 0;
  }
  #wrapper{
    background-color:white;
    color:$color;
    width:80%;
    height:200%;
    margin:auto;
    padding:2px;
    position: relative;
    z-index:10000;
    border-radius: : 2px red ;
    -webkit-box-shadow:0 0 20px rgba(0,0,0,0.8);
    -moz-box-shadow:0 0 19px rgba(0,0,0,0.8);
    box-shadow:0 0 0px rgba(0,0,0,0.8);
  
  }
  #comei1 ul{
    width:100%;
    float:left;
    margin:0px;
    padding:0px;
    border-radius:0px;
    background-color:;
  }
  #comei1 ul  li{
    padding:0px;
    display:inline;
    background-color:blue;
    margin:0px;
    float:left;
    margin:1px;

    width:750px;
    height:490px ;
  }
  #big{
    color:black;
    background-color:;
    padding:0px;
    width:100%;
    height:10%;
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center;
    -webkit-box-shadow:0 0 20px rgba(0,0,0,0.8);
    -moz-box-shadow:0 0 19px rgba(0,0,0,0.8);
    box-shadow:0 0 0px rgba(0,0,0,0.8);
  }
  #state{
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center;
  }
  #header{
    color:white;
    background-color:white;
    padding:0px;
    height:20vh;
    margin:0px;
    position: relative;
    z-index: 10000;
    width:100%;
    //opacity: 0.7;
    //width:calc(calc(60vw + 1vh) + 0px);
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center;
  }
  #my{
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center;
    background-color: #1C2833;
  }
  #header ul{
    float:left;
    width:auto;
    padding-top: 20px;
    background-color:red;
  }
  #header  ul li{
    display:inline;
    margin:1%;
    background-color:;
  }
  #te{
    color:white;
    background-color:#0b1516;
    //opacity:0.8;
    position:relative;
    //z-index: 10000;
    padding:0px;
    margin:0px;
    height:60px;
    width:100%;
  }
  #te ul{
    height:auto;
    padding-top: 1px;
    text-align:center;
    background-color:;
  }
  #te ul li {
    display:inline;
    margin:1%;
    color:black;
    font-weight: 1200;
    background-color:;
    text-transform: uppercase;
    font-size:16px;
    font-weight:700;
    font-family: Times, Times New Roman, Georgia, serif;
  }
  te  ul li a{
    color:white;
    text-decoration:none;
  
  }
  #container{
    background-color:lightgray;
    color:black;
    padding:0px;
    height:30%;
    width:100%;
    position: absolute;
  
  }
  #containere{
    background-color:lightgray;
    color:black;
    padding:0px;
    height:30%;
    width:100%;
    position: absolute;
  
  }
  #containere p {
    margin-left:2px;
    padding:4px;
    color:black;
  }
  #container p {
    font-size:19px;
  }
  #img{
    padding:0px;
    width:100%;
    background-color:brown;
  }
  #img ul{
    float:left;
    background-color:white;
    padding:0px;
    width:100%;
  }
  #img ul li{
    display:inline;
    background-color:white;
    float:left;
    margin:10px;
  }
  #line ul  {
    float:left;
    background-color:white;
    padding:0px;
    height:10%;
  
  }
  #line ul li{
    display:inline;
    margin:1px;
  }
  #imgs {
    width:80%;
    background-color:yellow;
  
  }
  
  #bg{
    height:90%;
    width:100%;
    background-color:pink;
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center;
  }
  #u{
    height:70%;
    width:100%;
    padding:0px;
    background-color:white;
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center;
  }
  #ut{
    width:100%;
    padding:0px;
    background-color:white;
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center;
  }
  #new{
    width:100%;
  
  }
  
  #linei ul {
    background-color:lightgray;
    width:100%;
  
  }
  #linei ul  li {
    margin:4px;
    height:20%;
    display:inline-block;
    background-color:yellow;
  }
  #slide{
    background-color:white ;
    height:auto;
    font-style:none;
    padding:0px;
  }#slide ul {
    padding:0px;
    height:auto;
  }
  #slide ul li {
    display:inline;
    width:10%;
    height:10%;
    margin:4px;
  }
  